*{
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    font-family: Arial, Helvetica, sans-serif;
}
  
body{
    background-color: #f3f3f3;
    display: flex;
    width: 100%;
    height: 100%;
}

.home{
    background-color: #ffff;
    width: 100%;
    height: 100%;
    margin: 0 20px;
}

header{
    margin-top: 20px;
    background-image: linear-gradient(to right, #E9492A, 60%, #E72357);
    height: 200px;
    display: flex;
    position: relative;
    margin-bottom: 43px;
}

section img{
    width: 100%;
    z-index: 1;
}

.header-img1{
    width: 230px;
    height: auto;
    position: absolute;
    top: 30px;
    left: -80px
}

.header-img2{
    position: absolute;
    width: 300px;
    height: auto;
    top: 25%;
    left: 80px;
}

.header-img3{
    position: absolute;
    color: white;
    font-size: 30px;
    letter-spacing: 5px;
    line-height: 12px;
    left: 400px;
    top: 150px;
}

.header-img4{
    position: absolute;
    width: 200px;
    height: auto;
    left: 550px;
    top: 70px;
}

.header-img4 img{
    filter: contrast(2);
}

.header-img5{
    position: absolute;
    width: 240px;
    height: auto;
    left: 485px;
    bottom: -20px;
}

.header-img6{
    display: flex;
    flex-direction: column;
    position: sticky;
    left: 1118px;
    margin-right: 20px;
}

.header-img7{
    width: 30px;
    margin-left:85%;
    margin-top: 5px;
}

.header-img8{
    text-align: right;
    font-family:Arial, Helvetica, sans-serif;
    color: white;
    font-size: 22px;
    font-weight: 100;
    letter-spacing: 1px;
    margin-right: 20px;
}

.header-img8-p2{
    font-size: 14px;
    margin-top: 15px;
}

.home main{
    display: flex;
    flex-direction: column;
}

.main-class{
    width: 50%;
    margin: auto;
}

.main-big{
    width: 100%;
}

.main-big-img{
    height: auto;
}

.main-big-img img{
    z-index: 10;
}

.main-big-tex{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}

.main-big-tex h2{
    font-size: 27px;
    margin-bottom: 7px;
}

.main-big-tex p:first-of-type{
    margin-bottom: 15px;
    font-size: 17px;
}

.main-big-tex-p2{
    font-size: 15px;
    font-style: italic;
    color: rgba(0, 0, 0, 0.525);
    margin-bottom: 7px;
}

.main-big-tex div{
    background-image: linear-gradient(to right,#E5255A 60%, #6C5BA3);
    width: 55%;
    height: 5px;
    margin-bottom: 40px;
}

.main-small{
    display: flex;
    height: auto;
}

.main-small-img{
    margin-bottom: 15px;
}

.main-small-img:first-of-type{
     margin-right: 10px;
}

.main-small-img img{
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.main-small-tex{
}

.main-small-tex h2{
    font-size: 25px;
    margin-bottom: 15px;
}

.main-small-tex p{
    font-size: 15px;
    font-style: italic;
    color: rgba(0, 0, 0, 0.525);
    margin-bottom: 7px;
}

.main-small-tex1{
    background-image: linear-gradient(to right, #75C4CF, #675FA6);
    width: 60%;
    height: 5px;
    margin-bottom: 20px;
}

.main-small-tex2{
    background-image: linear-gradient(to right, #75C7CE, #3AB38A);
    width: 60%;
    height: 5px;
    margin-bottom: 20px;
}

footer{
    align-items: center;
    text-align: center;
}

.foo-img{
    background-color: #FC4C02;
}

.foo-img img{
    width: 25%;
}

.foo-tex{
    margin: 20px 0;
    font-size: 14px;
}

.foo-tex a{
    color: black;
}

@media (max-width: 1069px){
    header{
        height: 170px;
    }
    .header-img1{
        width: 200px;
    }
    
    .header-img2{
        width: 270px;
    }
    
    .header-img3{
        font-size: 25px;
        left: 370px;
        top: 120px;
    }
    
    .header-img4{
        position: absolute;
        width: 170px;
        height: auto;
        left: 520px;
        top: 66px;
    }
    
    .header-img5{
        position: absolute;
        width: 210px;
        height: auto;
        left: 485px;
        bottom: -20px;
    }
    
    .header-img6{
        display: flex;
        flex-direction: column;
        position: sticky;
        left: 1118px;
        margin-right: 20px;
    }
    
    .header-img7{
        width: 25px;
    }
    
    .header-img8{
        font-size: 20px;
        font-weight: 100;
        letter-spacing: 1px;
        margin-right: 20px;
    }
    
    .header-img8-p2{
        font-size: 14px;
        margin-top: 15px;
    }

    .main-class{
        width: 70%;
    }
}

@media (max-width: 995px){
    .header-img2{
        width: 240px;
    }
    .header-img3{
        left: 340px;
    }
    .header-img4{
        position: absolute;
        width: 170px;
        height: auto;
        left: 450px;
        top: 66px;
    }

    .header-img5{
        position: absolute;
        width: 210px;
        height: auto;
        left: 390px;
        bottom: -20px;
    }
}

@media (max-width: 919px){
    .header-img1{
        width: 200px;
    }
    
    .header-img2{
        width: 220px;
    }
    
    .header-img3{
        font-size: 24px;
        left: 330px;
        top: 120px;
    }
    
    .header-img4{
        width: 170px;
        height: auto;
        left: 410px;
        top: 66px;
    }

    .header-img5{
        left: 350px;
    }
}

@media (max-width: 880px){
    .header-img4{
        display: none;
    }

    .header-img5{
        display: none;
    }
}


@media (max-width: 700px){
    header{
        margin-top: 0px;
        height: 150px;
        margin-bottom: 20px;
    }
    
    section img{
        width: 100%;
        z-index: 1;
    }
    
    .header-img1{
        width: 230px;
        height: auto;
        position: absolute;
        top: 30px;
        left: -80px
    }
    
    .header-img2{
        width: 200px;
    }
    
    .header-img3{
      display: none;
    }
    
    .header-img4{
        display: none;
    }
    
    .header-img5{
        display: none;
    }
    
    .header-img6{
      display: none;
    }
    
    .header-img7{
        display: none;
    }

    .main-class{
        width: 100%;
    }

    .main-big-tex{
        margin-left: 10px;
    }
    
    .main-big-tex h2{
        font-size: 20px;
    }
    
    .main-big-tex p:first-of-type{
        margin-bottom: 10px;
        font-size: 15px;
    }
    
    .main-big-tex-p2{
        font-size: 14px;
        margin-bottom: 0px;
    }
    
    .main-big-tex div{
        background-image: linear-gradient(to right,#E5255A 60%, #6C5BA3);
        width: 55%;
        height: 3px;
        margin-bottom: 30px;
    }
    
    .main-small{
        display: flex;
        flex-direction: column;
    }
    
    .main-small-img{
        margin-bottom: 15px;
    }
    
    .main-small-img:first-of-type{
         margin-right: 10px;
    }

    .main-small-tex{
        margin-left: 10px;
    }

    .main-small-tex h2{
        font-size: 20px;
        margin-bottom: 10px;
    }
    
    .main-small-tex p{
        font-size: 14px;
        font-style: italic;
        color: rgba(0, 0, 0, 0.525);
        margin-bottom: 7px;
    }
    
    .main-small-tex1{
        background-image: linear-gradient(to right, #75C4CF, #675FA6);
        width: 60%;
        height: 3px;
        margin-bottom: 30px;
    }
    
    .main-small-tex2{
        background-image: linear-gradient(to right, #75C7CE, #3AB38A);
        width: 60%;
        height: 3px;
        margin-bottom: 30px;
    }
    
    
    footer{
        align-items: center;
        text-align: center;
    }

    .foo-img{
        background-color: #FC4C02;
    }

    .foo-img img{
        width: 65%;
    }

    .foo-tex{
        margin: 20px 0;
        font-size: 12px;
    }

    .foo-tex a{
        color: black;
    }
}

@media (max-width: 320px){
    .header-img1{
        height: auto;
        position: absolute;
        width: 250px;
        top: 30px;
        left: -80px
    }
    
    .header-img2{
        position: sticky;
        margin-top: 15%;
        width: 200px;
    }

    .foo-img img{
        width: 100%;
    }
}
